.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  color:rgb(196, 46, 146);
}

input{
  width:360px;
  height:25px;
  border-radius:5px;
}

.search{
  display:flex;
  margin-top: 7px;
  padding-right: 3px;
  
}



button{
  margin-right: 15px;
  padding-right: 3px;
}

.images{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.image{
  height:300px;
  width:300px;
  border-radius: 20px;
  padding: 15px;
  
}

.image:hover{
  transform: scale(1.1);
}


button:hover{
  cursor:pointer;
  
}

.buttons{
  margin-top:5px;
}

.error-message{
  color:red;
}